// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../bower_components/bootstrap/less/normalize.less";
// @import "../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
// @import "../bower_components/bootstrap/less/code.less";
// @import "../bower_components/bootstrap/less/grid.less";
// @import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/progress-bars.less";
// @import "../bower_components/bootstrap/less/buttons.less";

//Site CSS
html, body{
  background: #027388;
  height: 100%;
}
a:active,a:hover{
  text-decoration: none;
}
/* insite mixin define start*/
//返回按钮 
.return(){
  .size(136px/2, 35px);
  margin-left:22px;
  background: url(../images/icon-return.png) no-repeat 0 center;
  background-size: 14px;
}

//大按钮
.smbtn(){
  .size(266px/2, 72px/2);
  display:block;
  background-size: contain;
  text-indent: -10000px;
}

//pinch-left keyframes
@-webkit-keyframes pinch-left{
  to{
    .translate(15px, 0);
  }
}
@-webkit-keyframes pinch-right{
  to{
    .translate(-15px, 0);
  }
}

//normal white size
.f14-w(){
  font-size: 14px;
  color: white;
}
/* insite mixin define end*/

nav.navbar{
  .size(100%, 40px);
  position:absolute;
  top:0; left:0;
  z-index: 100;
  background:white;
  a.navbar-brand{
    .size(90px, 40px);
    float: left;
    display: block;
    margin-left: -2px;
    background: url(../images/brand.jpg) no-repeat;
    background-size: contain;
    text-indent: -10000px;
  }
  ul.nav-content{
    height: 40px;
    float: right;
    margin: 0;
    &>li{
      float: left;
      .size(116px/2,40px);
      &>a{
        .size(116px/2,40px);
        background:url(../images/nav-menu.png) no-repeat;
        background-size: 400%;
        display:block;
        text-indent: -10000px;
      }
    }
    &>li:nth-child(1)>a{
      background-position:-58px*0 0;
    }
    &>li:nth-child(2)>a{
      background-position:-58px*1 0;
    }
    &>li:nth-child(3)>a{
      background-position:-58px*2 0;
    }
    &>li:nth-child(4)>a{
      background-position:-58px*3 0;
    }
    &>li.active:nth-child(1)>a{
      background-position:-58px*0 -40px;
    }
    &>li.active:nth-child(2)>a{
      background-position:-58px*1 -40px;
    }
    &>li.active:nth-child(3)>a{
      background-position:-58px*2 -40px;
    }
    &>li.active:nth-child(4)>a{
      background-position:-58px*3 -40px;
    }
  }
}

div.action-bar{
  .size(100%, 35px);
  background-color: rgba(9,103,117,.8);
  &>a{
    display:block;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    color:white;
    margin-left:auto;
    &.more-events{
      width:212px/2;
      background: url(../images/icon-heart.png) no-repeat 0 center;
      background-size: 12px;
    }
  }
}
div.wrap{
  position:absolute;
  .square(100%);
  top:0; left:0;
  overflow: hidden;
}
section{
  position:absolute;
  .square(100%);
  top:0; 
  padding-top:40px;
  height:100%;
  .transition(left .5s ease-out);

  &.slideOut{
    left:100%;
  }
  &.slideIn{
    left:0;
  }
  &#home-page{
    background:#037489 url(../images/bg-home.jpg) no-repeat center bottom;
    background-size: contain;
    min-height: 830px/2;
    &>.action-bar>a{
      .size(220px/2, 35px);
      background: url(../images/icon-play.png) no-repeat 0 center;
      background-size: 12%;
    }
    &>.home-slogen{
      .size(378px/2, 112px);
      .center-block;
      background: url(../images/home-slogen.png) no-repeat;
      background-size: contain;
      margin-top:76px/2;
    }
    &>.video-area{
      .size(428px/2, 276px/2);
      position: absolute;
      top:380px/2; left:50%;
      margin-left: -428px/4;
      box-shadow: 6px 6px 6px #258f96;
      &>video{
        .square(100%);
        background-color: black;
      }
    }
    &>.home-girl{
      .size(234px/2, 406px/2);
      position: absolute;
      right:0; bottom: 0;
      background:url(../images/home-girl.png) no-repeat;
      background-size:contain;
    }
  }
  &#seven-love{
    background:#037489 url(../images/bg-seven.jpg) no-repeat center bottom;
    background-size: contain;
    &>.action-bar>a{
      .size(85px, 35px);
      background: url(../images/icon-info.png) no-repeat 0 center;
      background-size: 14px;
    }
    &>a{
      .size(336px/2, 72px/2);
      background:url(../images/btn-enter.png) no-repeat;
      background-size: contain;
      position:absolute;
      left:50%; bottom:10px;
      margin-left: -336px/4;
      text-indent: -10000px;
    }
  }
  &#event-intro{
    background:#0fbfca;
    &>.action-bar>a{
      .return;
    }
    &>article{
      font-size:14px;
      padding:50px 30px 0;
      color:white;
    }
  }
  &#event-list{
    background: #0fbfca;
    &>.action-bar>a{
      .return;
    }  
    &>.event-link{
      ul>li{
        display:block;
        width:50%;
        float:left;
        &:nth-child(2n+1){
          border-bottom:1px solid #87dfe5;
          border-right:1px solid #87dfe5;
        }
        &:nth-child(2n){
          border-bottom:1px solid #87dfe5;
        }
        &:nth-child(5),&:nth-child(6){
          border-bottom-width:0;
        }
        &>a{
          display:block;
          .square(100%);
          color:white;
          text-align: center;
          &>span{
            display: block;
            font-size:30px;
            margin-top: 10%;
          }
          &>strong{
            display: block;
            font-size:14px;
            &:after{
              content:">";
              padding-left:6px;
            }
          }
          &>button{
            color:#0fbfca;
            border-width: 0;
            height:20px;
            border-radius: 10px;
            background:white;
            line-height: 18px;
            font-size: 12px;
            font-weight: bold;
            margin-top: 2px;
            opacity: 0;
          }
        }
      }
      ul>li.passed{
        &>a{
          &>span{
            margin-top: 5%;
          }
          &>button{
            opacity: 1;
          }
        }
      }
    }  
  }
  &#event-deep-1{
    background:#037489 url(../images/bg-deep.jpg) no-repeat center bottom;
    background-size: contain;
    &>.wish-make>a{
      position:absolute;
      width:150px;
      left:50%;
      margin-left:-150px/2;
      text-align: center;
      font-size:20px;
      line-height: 100px;
      color:white;
      bottom:70px;
    }
  }
  &#event-deep-2{
    background:#0fbfca;
    &>.action-bar>a{
      .return;
    }
    &>.action-bar>a:last-child{
      float:right;
      margin-top:-35px;
      background:none;

    }
    &>.wish-content{
      .size(540px/2, 166px/2);
      .center-block;
      margin-top:15px;
      border-radius: 0;
      border-color: #1fadb4;
    }
    &>.wish-count{
      width:540px/2;
      .center-block;
      font-size:14px;
      color:white;
      line-height: 24px;
      &>span{
        display:block;
        margin-left:auto;
        width:65px;
        background:url(../images/icon-delete.png) no-repeat right center;
        background-size: 12px;
      }
    }
  }
  &#event-deep-3{
    background:#037489 url(../images/bg-deep-3.jpg) no-repeat center bottom;
    background-size: contain;
    &>.wish-full{
      .size(434px/2, 362px/2);
      background:url(../images/heart-full-s.png) no-repeat;
      background-position: 0 362px/4;
      position:absolute;
      left:50%;
      margin-left: -434px/4;
      bottom:22px;
    }
    &>.wish-heart{
      .size(222px, 370px/2);
      background:url(../images/big-heart.png) no-repeat;
      background-size: contain;
      position:absolute;
      left:50%;
      margin-left:-110px;
      bottom:20px;
    }
    &>.wish-text{
      .size(150px, 100px);
      position:absolute;
      left:50%;
      margin-left:-150px/2;
      text-align: center;
      font-size:16px;
      color:white;
      bottom:60px;

    }
    &>.wish-tips{
      position:absolute;
      width:100%;
      text-align: center;
      bottom:8px;
      color:#097473;
    }
  }
  &#event-over{
    background:#037489 url(../images/bg-over.jpg) no-repeat center bottom;
    background-size: 100%;
    // height:830px/2;
    div.sm>a{
      .smbtn;
      position: absolute;
      bottom:50px; left:50%;
      &.btn-share{
        background-image:url(../images/btn-share.png);
        margin-left: -266px/2;                                
      }
      &.btn-mall{
        background-image: url(../images/btn-mall.png);
        margin-right:266px/2;
      }
    }
  }
  &#event-share-ok{
    background:#24afb8 url(../images/bg-share-ok.jpg) no-repeat center 0;
    background-size: contain;
    /*height:830px/2;*/
    &>.share-ok{
      .center-block;
      padding-top: 68px/2;
      width:460px/2;
      color:white;
      &>p:first-child{
        font-size:20px;
        text-align: center;
      }
      &>p:last-child{
        font-size:15px;
      }
    }
    div.sm>a{
      .smbtn;
      .center-block;
      width:316px/2;
      &.btn-apply{
        background-image:url(../images/btn-apply.png); 
        margin-top:32px/2;
        margin-bottom: 12px;                         
      }
      &.btn-mall{
        background-image: url(../images/btn-mall2.png);
      }
    }
  }
  &#event-apply-form{
    background:#24afb8 url(../images/bg-share-ok.jpg) no-repeat center 0%;
    background-size: contain;
    min-height: 400px;
    /*height:830px/2;    */
    &>.apply-form{
      .center-block;
      width:508px/2;
      &>p{
        .f14-w;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      &>form>.form-group{
        width:100%;
        margin: 0;
        margin-bottom: 34px/2;
        &>label{
          .f14-w;
        }
        &>div{
          width:80%;
          float:right;
          &>input{
            border-radius: 0;
            border-width: 0;
          }
          &>.apply-submit{
            .smbtn;
            background-image: url(../images/btn-submit.png);
          }
        }
      }
    }
  }
  &#event-glow-1{
    background: #027388 url(../images/bg-glow.jpg) no-repeat center bottom;
    background-size: contain;
    &>.glow-slogen{
      .center-block;
      .f14-w;
      text-align: center;
      width:520px/2;
      &>p:first-child{
        font-size:52px/2;
        line-height: 96px/2;
        margin:0;
      }
    }
    &>.radiance{
      .square(100%);
      position: absolute;
      left:0; bottom:0;
      background: url(../images/bg-radiance.png) no-repeat 50% 100%;
      background-size: 110%;
      visibility: hidden;
    }
    &>.sun-glow{
      @w: 304px/2;
      .square(@w);
      border-radius: @w/2;
      position: absolute;
      left:50%;
      margin-left: -@w/2;
      bottom:90px;
      background-image: -webkit-radial-gradient(circle closest-side, rgba(255, 255, 255, 1) 10%, rgba(255, 248, 72,.85) 60%, rgba(255, 255, 255,0) 100%);
      background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 1) 10%, rgba(255, 248, 72,.85) 60%, rgba(255, 255, 255,0) 100%);
      .transition(all .5s ease-out);
      &.glow-x1{.scale(1.1);}
      &.glow-x2{.scale(1.2);}
      &.glow-x3{.scale(1.3);}
      &.glow-x4{.scale(1.4);}
      &.glow-x5{.scale(1.5);}
      &.glow-x6{.scale(1.6);}
      &.glow-x7{.scale(1.7);}
    }
    &>.glow-tips{
      .f14-w;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom:45px;
    }
    &>.click-count{
      .f14-w;
      background:#11909e;
      .size(100%,35px);
      line-height: 35px;
      position: absolute;
      bottom: 0;
      &>p{
        .center-block;
        width:100px;
        margin-bottom: 0;
        text-align: right;
        background: url(../images/icon-sun.png) no-repeat 0 center;
        background-size: 17px;
      }
    }
  }
  &#event-beauty-1{
    min-height: 830px/2;
    background: #037389 url(../images/bg-beautiful.jpg) no-repeat 50% bottom;
    background-size: contain;
    &>.beauty-content{
      width:544px/2;
      .center-block;
      .f14-w;
      text-align: center;
      &>p:first-child{
        font-size:26px;
        margin:0;
        margin-top: 38px/2;
      }
    }
    &>.upload-area{
      .size(380px/2, 344px/2);
      .center-block;
      .box-sizing(border-box);
      position:relative;
      border:5px solid white;
      background-color: darken(#fafafa, 10%);
      margin-bottom: 10px;
      &>#text{
        .center-block;
        display: block;
        color: #666;
        text-align: center;
        color:ligten(gray, 20%);
        line-height: 344px/2-10;
        height:344px/2-10;
        background:no-repeat center center;
        background-size: cover;
      }
      &>#file{
        .size(380px/2-10, 344px/2-10);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
    &>.progress{
      position:absolute;
      @w: 380px/2-20;
      width:@w; height:10px;
      left:50%; margin-left: -@w/2;
      margin-top:-50px;
    }
    &>img{
      .center-block;
      width:306px/2;
    }
  }
  &#event-touch-1{
    background: #8099ad url(../images/bg-touch.jpg) no-repeat center bottom;
    background-size: contain;
    &>.touch-content{
      width:544px/2;
      .center-block;
      .f14-w;
      text-align: center;
      &>p:first-child{
        font-size:26px;
        margin:0;
        margin-top:24px;
      }
      &>p:last-child{
        margin:16px 0;
      }
    }
    &>.big-glow{
      .square(100%);
      top:0; left:0;
      position:absolute;
      background: url(../images/bg-big-glow.png) no-repeat center 100%;
      background-size: contain;
      visibility:hidden;
    }
    &>.pinch{
      .size(220px, 21px);
      position:absolute;
      top:192px; left:50%;
      margin-left: -220px/2;
      &>.pinchLeft{
        .size(74px/2, 44px/2);
        float:left;
        background:url(../images/pinch-left.png) no-repeat;
        background-size: contain;
        .animation(pinch-left .8s linear infinite alternate)
      }
      &>.pinchRight{
        .size(74px/2, 44px/2);
        float:right;
        background:url(../images/pinch-right.png) no-repeat;
        background-size: contain;
        .animation(pinch-right .8s linear infinite alternate)
      }
    }
  }
  &#event-scent-1{
    background: #02768a url(../images/bg-scent.jpg) no-repeat center bottom;
    background-size: contain;
    &>.scent-content{
      .center-block;
      .f14-w;
      width:340px/2;
      text-align: center;
      padding-top: -2px;
      &>p:first-child{
        font-size:26px;
        margin:0;
      }
    }
    &>.heart-zone{
      .size(458px/2,358px/2);
      position: absolute;
      left:50%; bottom:98px/2;
      margin-left: -458px/4;
      &.kissed{
        background: url(../images/kissed.png) no-repeat 53% 80%;
        background-size: 25%;
      }
    }
  }
  &#event-revitalised-1{
    background: #02768a url(../images/bg-revitalised.jpg) no-repeat center bottom;
    background-size: contain;
    &>.rev-content{
      .center-block;
      .f14-w;
      text-align: center;
      width:470px/2;
      &>p:first-child{
        font-size:26px;
        margin:0;
        margin-top: 50px;
      }
    }
    &>.text-mark{
      .center-block;
      .box-sizing(border-box);
      width:440px/2;
      line-height: 68px/2;
      // position: absolute;
      // bottom:250px/2-50; left:50%;
      // margin-left: -440px/4;
      background: white;
      padding:0 14px;
      font-size: 16px;
      color:#149aa7;
    }
    &>.text-input{
      .center-block;
      width:440px/2;
      line-height: 68px/2;
      height:68px/2;
      margin-top:-68px/2;
      // position: absolute;
      // bottom:250px/2-50; left:50%;
      // margin-left: -440px/4;
      padding:0 14px;
      opacity: .4;
      font-size: 16px;
      border-width:0;
      border-radius:0;
    }
    &>img{
      .center-block;
      width:440px/2;
      margin-top: 10px;
      visibility: hidden;
    }
  }
  &#pro-water{
    background:#067f92 url(../images/bg-water.jpg) no-repeat center 0;
    background-size: contain;
    min-height: 830px/2;
    &>.action-bar{
      height:124px/2;
      background: url(../images/water-slogen.png) no-repeat;
      background-size: contain;
    }
    &>ul>li{
      position: absolute;
      text-indent: -10000px;
      .square(66px/2);
      background: url(../images/icon-desc.png) no-repeat;
      background-size: contain;
      &>a{
        display: block;
        height: 66px/2;
      }
      &:nth-child(1){
        top:530px/2;
        left:40px/2;
      }
      &:nth-child(2){
        top:434px/2;
        left:272px/2;
      }
      &:nth-child(3){
        top:670px/2;
        left:360px/2;
      }
      &:nth-child(4){
        top:418px/2;
        left:486px/2;
      }
    }
  }
  &#network-page{
    background:#067f92 url(../images/bg-network.jpg) no-repeat center bottom;
    background-size: contain;
    min-height: 830px/2;
    &>.tri-list{
      .size(100%, 142px/2);
      position: absolute;
      left:0; bottom: 0;
      background: #078093;
      &>ul{
        padding-top: 14px;
        padding-left: 32px;
        font-size:12px;
        color:white;
      }
      &>a{
        .size(266px/2, 72px/2);
        display: block;
        float:right;
        background: url(../images/btn-buy.png) no-repeat;
        background-size: contain;
        text-indent: -1000px;
        margin-top:-54px;
        margin-right:38px/2;
      }
    }
  }
  &.aqua-page{
    background:#067f92 url(../images/bg-aqua.jpg) no-repeat center bottom;
    background-size: contain;
    min-height: 830px/2;
    &>.action-bar>a{
      .return;
    }
    &>#pro-toning-lotion{
      background:url(../images/pro-toning-lotion.png) no-repeat ;
      background-size: contain;
      position: absolute;
      .size(100%, 426px/2);
      top:214px/2; left:0;
    }
    &>#pro-nuit{
      background:url(../images/pro-nuit.png) no-repeat ;
      background-size: contain;
      position: absolute;
      .size(100%, 404px/2);
      top:230px/2; left:0;
    }
    &>#pro-gel{
      background:url(../images/pro-gel.png) no-repeat ;
      background-size: contain;
      position: absolute;
      .size(100%, 304px/2);
      top:270px/2; left:0;      
    }
    &>#pro-deep-serum{
      background:url(../images/pro-deep-serum.png) no-repeat ;
      background-size: contain;
      position: absolute;
      .size(100%, 404px/2);
      top:222px/2; left:0;      
    }
    &>.leadway{
      .size(100%, 72px/2);
      position: absolute;
      bottom:96px/2;
      left:0; 
      z-index:100;
      &>a{
        display: block;
        .size(266px/2, 72px/2);
        text-indent: -10000px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &>a:first-child{
        float:left;
        margin-left:50px/2;
        background-image: url(../images/btn-buy.png);
      }
      &>a:last-child{
        float:right;
        margin-right: 50px/2;
        background-image: url(../images/btn-desc.png);
      }
    }
    &>.aqua-desc{
      .size(100%, 198px/2);
      .opacity(0);
      .transition(all .3s ease-in);
      background: #0fbfca;
      position: absolute;
      left: 0;bottom: 0; 
      z-index:90;
      &.fadeIn{
        z-index:100;
        .opacity(100);
      }
      &>.close{
        .square(52px/2);
        .center-block;
        margin-top:-52px/4;
        background: url(../images/icon-close.png);
        background-size: contain;
      }
      &>.aqua-text{
        width:520px/2;
        color:white;
        .center-block;
        font-size:12px;
        padding-top: 12px;
      }
    }
  }
}

